html{
    height: 100%;
}

body{
    display:flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    flex:auto;
}

.top, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.top{
    padding: 10px 180px 120px 180px;
    display: flex;
    flex-direction: column;
    gap: 61px;
}

.centertwo{
    background-color: #E5E7EB;
}

button, .action{
    background-color: #3882F6;
    color: #F9FAF8;
}

.restone h1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom:0px;
}

.restone p{
    margin-top: 4px;
    margin-bottom: 10px;
}

.restone button{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.restone p, .header a{
font-size: 18px;
color: #E5E7EB;
text-decoration: none;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.centerone h2{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.comment{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;

}

.author{
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom:40px;
}

.rest-top{
    display: flex;
   justify-content: space-between;
   height: fit-content;
}

.restone{
    padding-right: 0px;
    box-sizing: border-box;
    height: 228px;
    width: 430px;
}

.resttwo{
    height:228px;
    width: fit-content;
}

.center{
    display: flex;
    flex-direction: column;
}

.centerone{
    display: flex;
    flex-direction: column;
}

.infos{
    display:flex;
    gap: 20px;
    align-items: center;
}

.infoone, .infotwo, .infothree, .infofour{
    height: 200px;
}

.action{
    margin: 100px 200px;
    padding: 35px 70px;
    display: flex;
    border-radius: 8px;
}